{{#section 'head'}}
  <!-- we want Google not to index this page -->
  <meta name="robots" context="noindex">
{{/section}}

<h1>Test Page</h1>
<p>We're testing some jquery stuff.</p>
{{#section 'jquery'}}
  <script>
    $('document').ready(function(){
      $('h1').html('JQuery Works');
    });
  </script>
{{/section}}
